/********************/
/****** GLOBAL ******/
/********************/

*{
	padding: 0;
	margin: 0;
}

html, body{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	max-width: 1024px;
	margin: auto;
	border: 1px solid #ddd;
}

a:link{
	color: #cf0808;
}

a:visited{
	color: #8b2323;
}

#logo{
	float:left;
    padding: 5px;
}

#header, body>header{
	padding: 1.0em;
	text-align: center;
}

#header h1, body>header h1{
	font-size: 2.2em;
    color: #cf0808;
}

header p, #header p{
	font-size: 1.2em;
}

acronym, abbr{
	text-decoration: none; /* Code for Firefox */
}

#breadcrumb{
    background-color: #cf0808;
    color: white;
    font-size: 1.2em;
    padding: 0.5em 0 0.5em 0.5em;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.position{
    font-weight: bold;
}

#menu{
	padding: 0.8em;
    float: left;
    width: 20%;
    font-size: 1.1em;
    overflow: hidden;
}

#menu ul{
	list-style-type: none;
}

#menu li{
	padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#content, #news_content{
	margin-left: 20%;
    width: 70%;
	border-left: 1px solid #ddd;
    font-size: 0.9em;
    padding-left: 3.5em;
    padding-top: 2em;
    padding-bottom: 0.8em;
}

#content h1, #news_content h1{
	font-size: 1.25em;
    margin-bottom: 1em;
}

#content h2, #news_content h2{
    font-size: 1.15em;
}

#content p, #news_content p{
    margin-top: 1em;
    margin-bottom: 1em;
}

#content ul li, #news_content ul li{
    margin-left: 2em;
}

#content img, #news_content img{
    width: 100%;
}

#footer, footer{
	border-top: 1px solid #ddd;
    font-style: italic;
    padding: 0.5em;
    text-align: center;
}

#imgValidCode{
    display: inline-block;
    float: left;
}

#imgValidCSS{
    display: inline-block;
    float: right;
}

#footer p, footer p{
    font-size: 0.7em;
    width: 90%;
}

/********************/
/* COME DONARE.HTML */
/********************/

.bank_items dt{
    font-weight: bold;
    float: left;
}

.bank_items dt:after{
    content: ":";
    font-weight: normal;
    padding-right: 0.5em;
}

#contacts dt{
    font-weight: bold;
}

dl + *{
    margin-top: 1em;
}

p#resoconto{
    font-variant: small-caps;
    font-weight: bold;
    font-size: 1.2em;
}

/********************/
/**** FOTO.HTML *****/
/********************/
#foto figcaption{
    font-size: 0.8em;
}

#foto figure{
	width: 30%;
	float: left;
	padding: 0.5em;
}

#foto figure img{
	width: 100%;
}

#foto dt{
    margin-top: 1em;
    display: inline-block;
    font-weight: bold;
    font-size: 1.2em;
}

#foto{
    width: 100%;
    margin: 0.5%;
}

#foto + p{
    display: inline-block;
    width: 100%;
}


/********************/
/**** NEWS.HTML ****/
/*******************/

article{
	border: 1px solid #ddd;
	margin-bottom: 1em;
}

article header{
    background-color: #cf0808;
    color: white;
    border-bottom: 1px solid #ddd;
    padding: 0.5em;
}

article header h1{
	display: inline;
    font-size: 1.1em;
}

article h1::before{
	content: " - ";
}

article p{
    margin: 0.5em;
}
